{% block content %}
<!DOCTYPE html>
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <title>djangobaseapp</title>
        <!-- BEGIN Stylesheets -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
        <link rel="shortcut icon" href="{% static '../static/favicon.ico' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
        <link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
        <link rel="stylesheet" id="css-main" href="{% static '../static/css/oneui.css' %}">
        <!-- SweetAlerts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
        <!-- END Stylesheets -->

        <!-- END Stylesheets -->
    </head>

    <body>
        <!-- Register Content -->
            <div class="content overflow-hidden">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                        <!-- Register Block -->
                        <div class="block block-themed animated fadeIn">
                            <div class="block-header bg-primary">
                                <ul class="block-options">
                                    <li>
                                        <a href="/login/">Log in</a>
                                    </li>
                                    <li>
                                        <a href="/login/" data-toggle="tooltip" data-placement="left" title="Log In"><i class="si si-login"></i></a>
                                    </li>
                                </ul>
                                <h3 class="block-title">Register</h3>
                            </div>
                            <div class="block-content block-content-full block-content-narrow">
                                <!-- Register Title -->
                                <table width="100%">
                                    <TR>
                                        <TD><h1 class="h2 font-w600 push-30-t push-5">djangobaseapp</h1><p>Create a new account.</p></TD>
                                        <TD align="right"><img src="{% static '../static/img/djangobaseapp.png' %}"></TD>
                                    </TR>
                                </table>
                                <!-- END Register Title -->

                                <!-- Register Form -->
                                <!-- jQuery Validation (.js-validation-register class is initialized in js/pages/base_pages_register.js) -->
                                <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                                <input type="hidden" name="username" value="{{username}}" class="username"/>
                                <form class="js-validation-register form-horizontal push-50-t push-50" action="" method="post">
                                    {%csrf_token%}
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <div class="form-material form-material-primary">
                                                <input class="form-control" type="first_name" id="first_name" name="first_name" placeholder="First name">
                                                <label for="register-firstname">First Name</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-material form-material-primary">
                                                <input class="form-control" type="last_name" id="last_name" name="last_name" placeholder="Last name">
                                                <label for="register-lastname">Last Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <div class="form-material form-material-primary">
                                                <input class="form-control" type="email" id="email" name="email" placeholder="Email Address">
                                                <label for="register-email">Email Address</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-material form-material-primary">
                                                <input class="form-control" type="company_name" id="company_name" name="company_name" placeholder="Company Name">
                                                <label for="register-companyname">Company Name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <div class="form-material form-material-primary">
                                                <input class="form-control" type="password" id="password1" name="password1" placeholder="Choose a strong password..">
                                                <label for="register-password">Password</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-material form-material-primary">
                                                <input class="form-control" type="password" id="password2" name="password2" placeholder="... and confirm it">
                                                <label for="password2">Confirm Password</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label class="css-input switch switch-sm switch-primary">
                                                <input type="checkbox" id="register-terms" name="register-terms"><span></span> I agree with terms &amp; conditions
                                            </label>
                                            <label class="css-input switch switch-sm switch-primary">
                                                 | <a href="#" data-toggle="modal" data-target="#modal-terms">View Terms</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-6 col-md-5">
                                            <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-plus pull-right"></i> Sign Up</button>
                                        </form>
                                        </div>
                                    </div>

                                    {% if messages %}
                                        {% for message in messages %}
                                        <div class="col-sm-6 col-lg-3">
                                            <!-- Danger Alert -->
                                            <div class="alert alert-danger alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h3 class="font-w300 push-15">Error</h3>
                                                <p>{{ message }}</a>!</p>
                                            </div>
                                            <!-- END Danger Alert -->
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                </form>
                                <!-- END Register Form -->
                            </div>
                        </div>
                        <!-- END Register Block -->
                    </div>
                </div>
            </div>
            <!-- END Register Content -->

            <!-- Register Footer -->
            <div class="push-10-t text-center animated fadeInUp">
                <small class="text-muted font-w600"><span class="js-year-copy"></span> &copy; djangobaseapp, LLC</small>
            </div>
            <!-- END Register Footer -->

            <!-- Terms Modal -->
            <div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-popout">
                    <div class="modal-content">
                        <div class="block block-themed block-transparent remove-margin-b">
                            <div class="block-header bg-primary-dark">
                                <ul class="block-options">
                                    <li>
                                        <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                    </li>
                                </ul>
                                <h3 class="block-title">Terms &amp; Conditions</h3>
                            </div>
                            <div class="block-content">
                                <p>You’re reading the EULA?  I mean… You’re reading the EULA!  Of course you are. Look at you, so responsible.  Until there is good reason to do so I will keep this section as light as possible.  The terms of usage are as follows:</p>
                                <p>
                                <ul>
                                <li>By registering you, agree to all of the terms.  
                                <li>When terms are updated, you will be notified. By continuing to use the software, you agree to all of the terms.
                                <li>The software is available without warranty of any kind, used at your own discretion, where you take full responsibility of the results. 
                                <li>Additional features are available and may be implemented on a case-by-case agreement.
                                <li>By providing credentials to any 3rd party platform, you are granting the software access to read/write to that platform to the extent permitted by the credentials.
                                <li>By using the software, you acknowledge that the information provided may (probably will) be stored.  That information may be used internally.  
                                <li>All of the usual laws still apply.  Attempting to reverse engineer the software and/or using the branding/image/likeness for profit is not allowed.  
                                <li>Attempting to breach the software is dumb.  I use the same encryption as a bank & have far less interesting information.  Separate from being dumb, it’s punishable by law.
                                </ul>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                            <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> I agree</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Terms Modal -->

            <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
            <script src="{% static '../static/js/core/jquery.min.js' %}"></script>
            <script src="{% static '../static/js/core/bootstrap.min.js' %}"></script>
            <script src="{% static '../static/js/core/jquery.slimscroll.min.js' %}"></script>
            <script src="{% static '../static/js/core/jquery.scrollLock.min.js' %}"></script>
            <script src="{% static '../static/js/core/jquery.appear.min.js' %}"></script>
            <script src="{% static '../static/js/core/jquery.countTo.min.js' %}"></script>
            <script src="{% static '../static/js/core/jquery.placeholder.min.js' %}"></script>
            <script src="{% static '../static/js/core/js.cookie.min.js' %}"></script>
            <script src="{% static '../static/js/app.js' %}"></script>
            <script src="{% static '../static/js/base_ui_activity.js' %}"></script>

            <!-- Page JS Plugins -->
            <script src="{% static '../static/js/plugins/jquery-validation/jquery.validate.min.js' %}"></script>

            <!-- Page JS Code -->
            <script src="{% static '../static/js/pages/base_pages_register.js' %}"></script>
            {% load sweetify %}
            {% sweetify %}
        </div>
    </body>
</html>
{% endblock %}